spring:
  datasource:
    url: ENC(aJumtFYMJ47omFBu75VtnPvOltvBHLmqqB+WehTxOhOOeJ1qruntBnO8oJDem2GziHssHWIkAIg7ASINJqu62JfCdWlfADMIuyvUQxGL611uX35GWw148A==)
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ENC(Q9grM+0D1vtgvmjIHSEm6Q==)
    password: ENC(o71r7GxcfhNh1Qf6aAFDiHGTHgOrdoyI)
    schema:
      classpath: schema.sql
    hikari:
      maximum-pool-size: 130
      connection-timeout: 20000
      minimum-idle: 5
    sql:
      init:
        mode: always

  mybatis:
    mapper-locations: classpath:mapper/**/*.xml
    type-aliases-package: com.study.mull

